body{
  color:black;
  margin: 0;
  width: 100%;
  text-align: center;
}

.button-class{
  border: 2px;
  border-color:black;
  color: white;
  background-color: rgb(225, 2, 2);
  border: 3px solid rgb(1, 1, 1);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  margin: 10px 6px;
  -webkit-transition-duration: 0.5s;
  cursor: pointer;
  width: 200px;

}

h1 {
}


#modal-container {
  position: fixed;
  padding: 35px;
  box-sizing: border-box;
  width: 45%;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.5);

  /* to show the modal above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: white;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  left: 0;
  right: 0;
}

li{
  list-style: none;
}

ul.pokemon-list {
  margin: unset;
  padding: unset;
}